{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Розповідати про себе не легко. Про себе не легко навіть думати. Та, незважаючи на це, чи може, саме
                    тому, краще я поділюся тим, як процес складання слів у рими невимушено і легко розчиняв мій час і
                    ставав відрадою для мене.
                    Залишаючи свою країну, єдина річ, яку я могла від неї взяти з собою, була мова.
                    І як же нестерпно прикро, що її важливість ти розумієш лише потрапивши закордон, потрапивши у зовсім
                    інше оточення, з усим для тебе далеким, не зрозумілим та нерідним.
                    Все життя, думаючи чужою мовою, я й гадки не мала, як українською я проживатиму інше життя, з іншою
                    інтонацією, іншим характером, іншими почуттями й думками. Може, це самоідентифікація, або просто
                    збіг обставин, або нарешті свідомість. Та що б це не було, я відкрила для себе новий світ, в який з
                    захопленням тікала, віддаючись цьому без опору і протиріч, в якому лише математика рим і слова, що
                    пробираються крізь клавіатуру вночі, саме при темній порі. Бо слова, сказані та написані вночі,
                    розчинені в поглинаючій пітьмі,<br>
                    хіба вони <br>
                    можуть <br>
                    бути <br>
                    правдою? <br>
                    Хіба з ними <br>
                    прокинешся <br>
                    зранку?
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
